In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/TC_new.csv')

In [ ]:
dataset.head()

,Ni,Cu,Fe,Cr,Mo,Nb,Ta,Mn,Si,Co,...,Ti,Zr,W,V,C,B,P,S,TT,TC
0,0.0,0.88,0.0,0.0,0.08,0.0,0.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25,381.481
1,0.0,0.88,0.0,0.0,0.08,0.0,0.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100,371.330
2,0.0,0.88,0.0,0.0,0.08,0.0,0.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,200,367.570
3,0.0,0.88,0.0,0.0,0.08,0.0,0.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,300,365.120
4,0.0,0.88,0.0,0.0,0.08,0.0,0.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400,357.160

In [ ]:
dataset. columns

Index(['Ni', 'Cu', 'Fe', 'Cr', 'Mo', 'Nb', 'Ta', 'Mn', 'Si', 'Co', 'Al', 'Mg',
       'Ti', 'Zr', 'W', 'V', 'C', 'B', 'P', 'S', 'TT', 'TC'],
      dtype='object')

In [ ]:
dataset.describe()

,Ni,Cu,Fe,Cr,Mo,Nb,Ta,Mn,Si,Co,...,Ti,Zr,W,V,C,B,P,S,TT,TC
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,...,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000
mean,0.202413,0.104138,0.234481,0.144624,0.037332,0.008394,0.008946,0.009271,0.011637,0.067449,...,0.023622,0.006026,0.022682,0.006488,0.007331,0.006056,0.006072,0.006048,386.222892,83.210151
std,0.241957,0.287100,0.309954,0.126638,0.110342,0.077890,0.077956,0.077439,0.077453,0.172969,...,0.133322,0.077615,0.133606,0.077588,0.077536,0.077613,0.077611,0.077613,316.499421,114.411488
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.235000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,19.757500
50%,0.042850,0.000000,0.015000,0.172600,0.016620,0.000000,0.000000,0.003000,0.003600,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000,28.531000
75%,0.469160,0.001280,0.514970,0.211000,0.054560,0.000000,0.000000,0.006030,0.010280,0.034250,...,0.000700,0.000000,0.000000,0.000000,0.002630,0.000000,0.000000,0.000000,600.000000,98.425000
max,0.657200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1000.000000,403.050000

In [ ]:
#Import required modules
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set(style="ticks", color_codes=True)
import sklearn as sk
import numpy as np
from decimal import *
import math
from scipy.stats import pearsonr
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
import sklearn.metrics
from numpy import mean
from numpy import std
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 0)

In [ ]:
rand_state = 1    # Shuffle the dataset
train_dataset = dataset.sample(frac=0.9,random_state=rand_state)
test_dataset = dataset.drop(train_dataset.index)

In [ ]:
train_stats = train_dataset.describe()
train_stats.pop("TC")
train_stats = train_stats.transpose()
# Stats and distribution of testing data
test_stats = test_dataset.describe()
test_stats.pop("TC")
test_stats = test_stats.transpose()
# Define target properties in training set
y_train_TC = train_dataset.pop("TC")      # thermalConductivity

# Define target properties in testing set
y_test_TC = test_dataset.pop("TC")      # C11

# Normalization
def norm_train(x):
  return (x - train_stats['mean']) / train_stats['std']
X_train_norm = norm_train(train_dataset)
X_test_norm = norm_train(test_dataset)

In [ ]:
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR

In [ ]:
#setting up the initial models
rf_reg = RandomForestRegressor()
gb_reg = GradientBoostingRegressor()
xgb_reg = XGBRegressor()
La_reg=Lasso()
ridge_reg = Ridge()
GP_reg = GaussianProcessRegressor()

In [ ]:
#fitting the initial models
for model in [rf_reg, gb_reg,xgb_reg,La_reg,ridge_reg,GP_reg]:
    model.fit(X_train_norm, y_train_TC)

[20:11:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
import sklearn.metrics
from numpy import mean
from numpy import std
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
#running predictions on Train set
rf_reg_pred_train = rf_reg.predict(X_train_norm)
gb_reg_pred_train = gb_reg.predict(X_train_norm)
xgb_reg_pred_train = xgb_reg.predict(X_train_norm)
La_reg_pred_train = La_reg.predict(X_train_norm)
ridge_reg_pred_train = ridge_reg.predict(X_train_norm)
GP_reg_pred_train = GP_reg.predict(X_train_norm)

In [ ]:
#running predictions on Training set
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
mae_train_rf = mean_absolute_error(rf_reg_pred_train, y_train_TC, )
mae_train_gb = mean_absolute_error(gb_reg_pred_train, y_train_TC)
mae_train_xgb = mean_absolute_error(xgb_reg_pred_train, y_train_TC)
mae_train_La = mean_absolute_error(La_reg_pred_train, y_train_TC)
mae_train_ridge = mean_absolute_error(ridge_reg_pred_train, y_train_TC)
mae_train_GP = mean_absolute_error(GP_reg_pred_train, y_train_TC)

In [ ]:
mse_train_rf = sklearn.metrics.mean_squared_error(rf_reg_pred_train, y_train_TC, multioutput='uniform_average', squared=True)
mse_train_gb = sklearn.metrics.mean_absolute_error(gb_reg_pred_train, y_train_TC, multioutput='uniform_average')
mse_train_xgb = sklearn.metrics.mean_absolute_error(xgb_reg_pred_train, y_train_TC, multioutput='uniform_average')
mse_train_La = sklearn.metrics.mean_absolute_error(La_reg_pred_train, y_train_TC, multioutput='uniform_average')
mse_train_ridge = sklearn.metrics.mean_absolute_error(ridge_reg_pred_train, y_train_TC, multioutput='uniform_average')
mse_train_GP = sklearn.metrics.mean_absolute_error(GP_reg_pred_train, y_train_TC, multioutput='uniform_average')

In [ ]:
from sklearn.metrics import r2_score
R2_train_rf = r2_score(y_train_TC,rf_reg_pred_train)
R2_train_gb = r2_score(y_train_TC,gb_reg_pred_train)
R2_train_xgb = r2_score(y_train_TC,xgb_reg_pred_train)
R2_train_La = r2_score(y_train_TC,La_reg_pred_train)
R2_train_ridge = r2_score(y_train_TC,ridge_reg_pred_train)
R2_train_GP = r2_score(y_train_TC,GP_reg_pred_train)

In [ ]:
rmse_train_rf = math.sqrt(mse_train_rf)
rmse_train_gb = math.sqrt(mse_train_gb)
rmse_train_xgb = math.sqrt(mse_train_xgb)
rmse_train_La = math.sqrt(mse_train_La)
rmse_train_ridge = math.sqrt(mse_train_ridge)
rmse_train_GP = math.sqrt(mse_train_GP)

In [ ]:
scoring_results = [('Random Forest Regression', rmse_train_rf, R2_train_rf,mae_train_rf),
                   ('Gradient Boosting Regression', rmse_train_gb,R2_train_gb, mae_train_gb),
                   ('XGBRegressor', rmse_train_xgb,R2_train_xgb, mae_train_xgb),
                   ('Lasso', rmse_train_La,R2_train_La, mae_train_La),
                   ('ridge', rmse_train_ridge,R2_train_ridge, mae_train_ridge),
                   ('Gaussian Process', rmse_train_GP, R2_train_GP, mae_train_GP),
]

In [ ]:
scoring_df = pd.DataFrame(data = scoring_results,
                       columns=['Model Name', 'RMSE', 'R2 Score(Train)', 'MAE(Train)'])
scoring_df

                     Model Name       RMSE  R2 Score(Train)  MAE(Train)
0  Random Forest Regression      15.738646  0.980705         5.885262
1  Gradient Boosting Regression  2.345587   0.990663         5.501777
2  XGBRegressor                  2.779081   0.984044         7.723293
3  Lasso                         3.637548   0.927747         13.231752
4  ridge                         3.509339   0.929207         12.315462
5  Gaussian Process              0.928956   0.995884         0.862960

In [ ]:
#running predictions on Train set
rf_reg_pred_test = rf_reg.predict(X_test_norm)
gb_reg_pred_test = gb_reg.predict(X_test_norm)
xgb_reg_pred_test = xgb_reg.predict(X_test_norm)
La_reg_pred_test = La_reg.predict(X_test_norm)
ridge_reg_pred_test = ridge_reg.predict(X_test_norm)
GP_reg_pred_test = GP_reg.predict(X_test_norm)

In [ ]:
#running predictions on Training set
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
mae_test_rf = mean_absolute_error(rf_reg_pred_test, y_test_TC, )
mae_test_gb = mean_absolute_error(gb_reg_pred_test, y_test_TC)
mae_test_xgb = mean_absolute_error(xgb_reg_pred_test, y_test_TC)
mae_test_La = mean_absolute_error(La_reg_pred_test, y_test_TC)
mae_test_ridge = mean_absolute_error(ridge_reg_pred_test, y_test_TC)
mae_test_GP = mean_absolute_error(GP_reg_pred_test, y_test_TC)

In [ ]:
mse_test_rf = sklearn.metrics.mean_squared_error(rf_reg_pred_test, y_test_TC, multioutput='uniform_average')
mse_test_gb = sklearn.metrics.mean_absolute_error(gb_reg_pred_test, y_test_TC, multioutput='uniform_average')
mse_test_xgb = sklearn.metrics.mean_absolute_error(xgb_reg_pred_test, y_test_TC, multioutput='uniform_average')
mse_test_La = sklearn.metrics.mean_absolute_error(La_reg_pred_test, y_test_TC, multioutput='uniform_average')
mse_test_ridge = sklearn.metrics.mean_absolute_error(ridge_reg_pred_test, y_test_TC, multioutput='uniform_average')
mse_test_GP = sklearn.metrics.mean_absolute_error(GP_reg_pred_test, y_test_TC, multioutput='uniform_average')

In [ ]:
from sklearn.metrics import r2_score
R2_test_rf = r2_score(y_test_TC,rf_reg_pred_test)
R2_test_gb = r2_score(y_test_TC,gb_reg_pred_test)
R2_test_xgb = r2_score(y_test_TC,xgb_reg_pred_test)
R2_test_La = r2_score(y_test_TC,La_reg_pred_test)
R2_test_ridge = r2_score(y_test_TC,ridge_reg_pred_test)
R2_test_GP = r2_score(y_test_TC,GP_reg_pred_test)

In [ ]:
rmse_test_rf = math.sqrt(mse_test_rf)
rmse_test_gb = math.sqrt(mse_test_gb)
rmse_test_xgb = math.sqrt(mse_test_xgb)
rmse_test_La = math.sqrt(mse_test_La)
rmse_test_ridge = math.sqrt(mse_test_ridge)
rmse_test_GP = math.sqrt(mse_test_GP)

In [ ]:
scoring_results = [('Random Forest Regression', rmse_test_rf, R2_test_rf,mae_test_rf),
                   ('Gradient Boosting Regression', rmse_test_gb,R2_test_gb, mae_test_gb),
                   ('XGBRegressor', rmse_test_xgb,R2_test_xgb, mae_test_xgb),
                   ('Lasso', rmse_test_La,R2_test_La, mae_test_La),
                   ('ridge', rmse_test_ridge,R2_test_ridge, mae_test_ridge),
                   ('Gaussian Process', rmse_test_GP, R2_test_GP, mae_test_GP),
]

In [ ]:
scoring_df = pd.DataFrame(data = scoring_results,
                       columns=['Model Name', 'RMSE', 'R2 Score(Test)', 'MAE(Train)'])
scoring_df

                     Model Name       RMSE  R2 Score(Test)  MAE(Train)
0  Random Forest Regression      37.346475  0.900412        21.945134
1  Gradient Boosting Regression  3.684231   0.971475        13.573558
2  XGBRegressor                  4.328570   0.941285        18.736518
3  Lasso                         3.770440   0.967415        14.216215
4  ridge                         3.856358   0.964339        14.871495
5  Gaussian Process              5.488872   0.825118        30.127717

In [ ]:
from sklearn.model_selection import GridSearchCV

# Defining the grid values

parameters = {'learning_rate': [0.01, 0.03, 0.05, 0.07, 0.09, 0.12, 0.15, 0.18],
                  'subsample'    : [0.4,],
                   'max_depth': [3,4,5,6,8],
                 'n_estimators' : [100,200,300,400,600,800,1000],
              'min_samples_leaf': [1,2,3],
              'min_samples_split': [2,3,4]
                 }
# Redefining the regressor
GBR = GradientBoostingRegressor(random_state = 1)

# Gridsearch

grid_GBR = GridSearchCV(estimator=GBR, param_grid = parameters, cv = 5, scoring = 'neg_mean_absolute_error')
grid_GBR.fit(X_train_norm, y_train_TC)

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(random_state=1),
             param_grid={'learning_rate': [0.01, 0.03, 0.05, 0.07, 0.09, 0.12,
                                           0.15, 0.18],
                         'max_depth': [3, 4, 5, 6, 8],
                         'min_samples_leaf': [1, 2, 3],
                         'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 200, 300, 400, 600, 800, 1000],
                         'subsample': [0.4]},
             scoring='neg_mean_absolute_error')

In [35]:
print(" Results from Grid Search " )
print("\n The best estimator across ALL searched params:\n",grid_GBR.best_estimator_)
print("\n The best parameters across ALL searched params:\n",grid_GBR.best_params_)

 Results from Grid Search

 The best estimator across ALL searched params:
 GradientBoostingRegressor(learning_rate=0.15, max_depth=4, n_estimators=300,
                          random_state=1, subsample=0.4)

 The best parameters across ALL searched params:
 {'learning_rate': 0.15, 'max_depth': 4, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 300, 'subsample': 0.4}